.BoardsOfBest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.BoardCards {
  height: 9.5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;

  cursor: pointer;
}

.BestImage {
  width: 7rem;
  height: 9.5rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

.profile {
  width: 1.5rem;
  height: 1.5rem;
}

.Card {
  width: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card div {
  font-size: var(--font-size-sm);
}

.CardName {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.CardName div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.25rem;

  font-weight: var(--font-weight-light);
  color: var(--color-gray-700);
}

.CardTitle {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.CardDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CardDetail > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.25rem;

  font-weight: var(--font-weight-regular);
}
