.boardsDetail__youtube__group {
  width: 100%;
  height: 32rem;
  padding: 1.5rem 0;

  background-color: var(--color-gray-50);

  position: relative;
}

.youtube__icon {
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  top: calc(50%);
  left: calc(50% - 2.75rem / 2);

  z-index: 3;
}

.youtube__thumbnail__image {
  width: 51.375rem;
  height: 29rem;
  object-fit: cover;
  object-position: center;

  position: absolute;
  left: calc(50% - 51.375rem / 2);
  z-index: 2;

  /* display: none; */
}

.youtube__iframe {
  width: 51.375rem;
  height: 29rem;

  position: absolute;
  left: calc(50% - 51.375rem / 2);
  z-index: 1;

  /* display: none; */
}

.hidden {
  display: none;
}
